html{
    height: 0;
}
body{
    margin:0;
    padding: 0;
}
ul, li {
    margin-top:0;
}
/* unsicher ob erlaubt: */
/* width
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
  } */
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */ */ */


.navbar{
    font-family: 'Noto Sans Mono';
    
}

.navitemlist{
    display: grid;
    grid-template-columns: 7vh 22vh 1fr 13vh;     /*sidenav-logo, Logo, Impressum*/
    min-height: 5vh;
    list-style: none;
    padding:0;
}

.navitemlist li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.navitemlist li a{
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
    color:black;
    user-select: none;
    height: 100%;
}

.navitemlist li a p{
    text-align: center;
    vertical-align: center;
    width: 100%;

}

nav a:hover{
    background-color: lightgrey;
}

.sidebar {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    z-index: 1;
    list-style: none;
    box-shadow: 2px -15px 15px rgba(0, 0, 0, 0.1);      /*-15px um unten keinen Schatten zu haben. gute Hilfe: https://www.w3schools.com/cssref/css3_pr_box-shadow.php*/
    transition: width 400ms ease; /* Übergang nur für Breite */
    overflow: hidden; /* Verhindert das sichtbare Überlaufen des Inhalts */
}

.sidebar.open {
    width: 20vh;
}

.pagecontent {
    
    padding-left: 15px;
    transition: margin-left 400ms ease;
}
.taskheading{
    font-size: 40px;
    font-family: 'Noto Sans Mono';
    text-align: center;
    margin:0;
}

.task{
    font-family: 'Noto Sans Mono';
}

.specialWord{
    color:rgba(255, 0, 43, 0.63);
    background-color: rgba(255, 8, 0, 0.13);
    border-radius: 3px;
    padding: 2px;
}


.sideitemlist li{
    white-space: nowrap;
    height: 5vh;
}

.sideitemlist a{
    font-family: 'Noto Sans Mono';
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    color: black;
    user-select: none;
}

.sidebarItemtext {
    margin-left:35px;
}


.sideitemlist{
    padding: 0;
    list-style: none;
    transition: height 150ms ease;
}

.dropdown{
    height: 0vh;
    overflow: hidden;
    transition: height 150ms ease;
    padding: 0;
}

.sidebar.open.dropdownwidth {
    width: 22vh;
}

.dropdown.open{
    list-style: none;   /* bei einer bestimmten Breite, wird der kreis des listenelementes angezeigt */
    height:10vh;
    padding: 0;
}

/* .dropdown li {
    display: grid;
    grid-template-columns: 1fr 1fr 5vh 1fr;
} */
/* https://codepen.io/CodeXYZ/pen/xbdxyO hat hier geholfen die Animation zu machen */
.dropdownicon{
    margin-left:50px;
    transform: rotate(90deg);
    transition: transform 150ms ease-in-out;  
}

.turned{
    transform:rotate(-90deg);
}


.dropdown a p{
    margin-left:55px;
}
  
.dropdown a:hover {
background-color: #ddd;
}
  



.landingpage{
    font-family: 'Noto Sans Mono';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.landingpagecontent{
    width: 100vh;
    user-select: none;
}

.Mein{
    margin-left: 3px;
    font-size: 50px;
}

.SN{
    font-size: 75px;
}

.Logo{
    font-family: 'Noto Sans Mono';
    text-align: center;
}


.impressum{
    font-family: 'Noto Sans Mono';
}



.sidebarOff{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 7vh;
}

.sidebarOff:hover{
    background-color: lightgrey;
}

.sidebarOn:hover{
    background-color: lightgrey;;
}

/* .exclude-from-margin * {
    all: initial;
} */

@media(max-width:880px){
    .landingpagecontent{
        width: 50vh;
    }

    .navitemlist{
        grid-template-columns: 7vh 22vh 1fr 13vh;     /*sidenav-logo, Logo, Impressum*/
    }
}

@media(max-width:465px){
    .landingpagecontent{
        width: 27vh;
    }

    .SN{
        font-size: 40px;
    }

    .Mein{
        font-size: 25px;
    }
}

@media(max-width:380px){
    .navitemlist{
        height: 10vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr 2fr;
        /* grid-template-areas: ; */
    }
}