*{
    margin: 0 ;
    padding: 0 ;
}
/* unsicher ob erlaubt: */
/* width
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
  } */
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */ */ */


body{
    min-height: 100vh;
}


.navitemlist{
    display: grid;
    grid-template-columns: 7vh 22vh 1fr 13vh;     /*sidenav-logo, Logo, Impressum*/
    height: 5vh;
    list-style: none;

}

.navitemlist li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navitemlist li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color:black;
    user-select: none;
}

nav a:hover{
    background-color: lightgrey;
}

.sidebar {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    z-index: 1;
    list-style: none;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 400ms ease; /* Übergang nur für Breite */
    overflow: hidden; /* Verhindert das sichtbare Überlaufen des Inhalts */
}

.sidebar.open {
    width: 21vh;
}

#content {
    user-select: none;
    padding: 20px;
    transition: margin-left 400ms ease;
}


.sideitemlist li{
    white-space: nowrap;
    height: 5vh;
}

.sideitemlist a{
    font-family: 'Noto Sans Mono';
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    color: black;
    user-select: none;
}

.sideitemlist{
    list-style: none;
    transition: height 150ms ease;
}

.dropdown{
    height: 0vh;
    overflow: hidden;
    transition: height 150ms ease;
}

.sidebar.open.dropdownwidth {
    width: 30vh;
}

.dropdown.open{
    height:5vh;
}

/* .dropdown li {
    display: grid;
    grid-template-columns: 1fr 1fr 5vh 1fr;
} */
/* https://codepen.io/CodeXYZ/pen/xbdxyO hat hier geholfen die Animation zu machen */
.dropdownicon{
    
    transform: rotate(-90deg);
    transition: transform 150ms ease-in-out;  
}

.turned{
    transform:rotate(90deg);
}

.pos{
    display: flex;
    justify-content: right;
}



.dropdown a {
    width: 100%;
    justify-content: right;
  }
  
  .dropdown a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover {
    display: block;
  }




.landingpage{
    font-family: 'Noto Sans Mono';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh
}

.landingpagecontent{
    user-select: none;
    justify-content: center;
    align-items: center;
}

.Mein{
    margin-left: 3px;
    font-size: 50px;
    width: 100%;
}

.SN{
    font-size: 75px;
}

.Logo{
    font-family: 'Noto Sans Mono';
    text-align: center;
}


.impressum{
    font-family: 'Noto Sans Mono';
}



.sidebarOff{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 7vh;
}

.sidebarOff:hover{
    background-color: lightgrey;
}

.sidebarOn:hover{
    background-color: lightgrey;;
}

/* .exclude-from-margin * {
    all: initial;
} */


#ex-margin{
    all: initial;
}
